<% include ./partials/header %>


		<head>
			<link rel="stylesheet" href="/IndexPage.css">
		</head>


		<div class="jumbotron">
			<div class="container">
				<h1>Tutor Exchange</h1>
				<p>Where students can strengthen their strengh while helping each other.</p>
			</div>
		</div>
	    <div class="container">
	    	<p style="margin-bottom: 65px;">
				<a href="/IndexPage/NewPost" class="btn btn-success newpost">Add New Post</a>
	    	</p>

			<% posts.forEach(function(post){ %>
				<div class="postContainer">
					<div class="postTitle">
						<h4><%= post.title %> - <%= post.subject%></h4>
					</div>
					<div class="postAuthor">
						
						<p><span><img class="profile" src="https://image.flaticon.com/icons/svg/149/149066.svg" alt="profileIcon"></span> <span><em><%= post.author.username %></em></span></p>
					</div>
					<div class="postContent">
						<p><%= post.content%></p>
					</div>
					<a href="/IndexPage/<%=post._id%>" class="btn btn-small btn-primary" id="button">View</a>
				</div>
			<% }); %>
		</div>

	    <div class="footerContainer"> 		
	    		<div class="box">
	          		<img class="thumbImage" src="/img/ic_add_box_black_48dp_2x.png">
	    			<p><strong>Math</strong></p>
	    			<p>Get help with your mathematic problems</p>
	    		</div>

				<div class="box">
	          		<img class="thumbImage" src="/img/ic_http_black_48dp_2x.png">
	    			<p><strong>Computer Science</strong></p>
	    			<p>Decode your computer science problems</p>
	    		</div>

	    		<div class="box">
	            	<img class="thumbImage" src="/img/ic_highlight_black_48dp_2x.png">
	    			<p><strong>Physics</strong></p>
	    			<p>Get physics help!</p>
	    		</div>
	    </div>

		<br>

<% include ./partials/footer %>
